.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
}
.page-header__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: #D32F2F;
}
.page-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wraper {
    max-width: 1200px;
    margin: 0 auto;
}

/**
 * sidebar
 */
.sidebar {
    width: 20%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.sidebar-gray {
    background: #ECEFF1;
}
.sidebar-bordered {
    border-radius: 3px 0px 0px 3px;
}
.sidebar__header {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #34515E;
    padding: 16px 0;
    margin: 0;
}
.sidebar-header {
    border-bottom:1px solid #CFD8DC;
}
.sidebar-header__close,
.sidebar-header__open {
    text-decoration: none;
    color: #8EACBB;
    position: relative;
}
.sidebar-header__open {
    display: none;
}
.sidebar-header__close i,
.sidebar-header__open i
 {
   position: absolute;
   left: 16px;
   line-height: 48px;
}
.sidebar-ul-styled {
    padding-left: 27px;
}
sidebar-list__item {
    margin-bottom: 8px;
}
.sidebar-list__item a {
    text-decoration: none;
    color: #263238;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.sidebar.open {
    width: 50px;
}
.sidebar.open .sidebar-content,
.sidebar.open .sidebar-header__close
 {
    display: none;
}
.sidebar.open .sidebar__header {
    visibility: hidden;
}
.sidebar.open .sidebar-header__open {
    display: block;
}

/**
 * main content
 */
.main-content {
    background: #FAFAFA;
    border-radius: 0px 3px 3px 0px;
    width: 100%;
    min-height: 500px;
}
.main__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #34515E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

/**
 * test
 */

.test-header{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.test-header-bottom-line {
    border-bottom: 1px solid #E0E0E0;
}
.test__header {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #263238;
} 

.test__header-controls {
    position: absolute;
    right: 0;
    top: 10px;
}

.test-header .left-line {
    border-left: 1px solid #BDBDBD;
}

.test__header-controls a,
.test__header-controls span,
.controls__exit {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8D8D8D;
}
.test__header-controls a,
.controls__exit {
    text-decoration: none;
}
.test-controls-reset,
.test-controls-counter,
.test-controls-time {
    padding: 0 16px;
}
.test__header-contorls-exit {
    position: absolute;
    left: 16px;
    top: 10px;

}
.test-description {
    padding: 16px;
    -webkit-animation: animation .5s 0s 1;
            animation: animation .5s 0s 1;
}
.test-description-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #CFCFCF;
}
.test-description__content {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #263238;
}
.test-finish {
    padding: 16px;
    -webkit-animation: animation .5s 0s 1;
            animation: animation .5s 0s 1;
}
.test-finish__title {
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #263238;
    margin: 0;
}
.test-finish__description {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8D8D8D;
    text-align: center;
    display: block;
}
.test-finish__answers {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #8D8D8D;
}
.test-finish__content-ul-unstyled {
    list-style: none;
    padding: 0;
}
.test-finish-item {
    border-bottom: 2px dashed #E0E0E0;
    padding: 8px 0;
}
.test-finish__item__title {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #263238;
    margin: 0;
}

.test-finish__item-content {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #263238;
    display: block;
    margin: 8px 0 8px 20px;
}
.test-controls-btns {
    margin-top: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.btn {
    border-radius: 3px;
    width: 82px;
    height: 32px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    border: none;
    color: #707070;
    cursor: pointer;
    background: none;
    border: 1px solid #CFCFCF;
}
.fill-red {
    background: #D32F2F;
    color: #FFFFFF;
}
.cancel-test {
    margin-left: 20px;
}

.test-questions {
    padding: 16px;
    -webkit-animation: animation .5s 0s 1;
            animation: animation .5s 0s 1;
}
.test-questions__ul-unstyled {
    padding: 0;
    list-style: none;
}
.test-questions__item-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #263238;
    margin: 12px 0;
}
.test-questions__item-content {
    background: #EFEFEF;
    border-radius: 3px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.test-question__label {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #263238;
    padding: 16px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.test-question__label input {
    margin-right: 7px;
}
.test-answers-type2 {
    display: block;
    padding-left: 20px;
}
.test-answers-type2 .test-question__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding:10px;
}
.top-line-gray {
    border: 1px solid #E0E0E0;
}
.test-bottom-controls {
    padding: 16px;
}
.flex-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.delete-storage {
    width: 160px;
}
.stop-test {
    width: 110px;
}
.red-styled {
    border: 1px solid #D32F2F;
    color:  #D32F2F;
}
input[type="radio"] {
    position: relative;
}
input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: #FF6659;
    border: 2px solid #D32F2F;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

/**
 * footer
 */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__by {
    text-decoration: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #263238;
    opacity: 0.5;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 33;
    background: rgba(38, 50, 56, 0.35);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.overlay.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.popup {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    width: 320px;
    height: 144px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.popup-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
}   
.popup-close-btn .fa {
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    color: #263238;
}
.popup-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.popup__title {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #263238;
    text-align: center;
    margin: 0;
}

.popup__description {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    color: #263238;
    opacity: 0.45;
    text-align: center;
}

.hide {
    display: none;
}
a:hover,
.btn:hover {
    opacity: .8;
}
.btn {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

body {
    -webkit-animation: animation 1s 0s 1;
            animation: animation 1s 0s 1;
}

@-webkit-keyframes animation {
    0% { opacity:0; }
    20% { opacity:0.4; }
    80% { opacity:0.8; }
  100% { opacity:1; }
}

@keyframes animation {
    0% { opacity:0; }
    20% { opacity:0.4; }
    80% { opacity:0.8; }
  100% { opacity:1; }
}

@media (max-width: 800px) {
    .page-content,
    .test-header,
    .test-questions__item-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sidebar {
        width: 50%;
        position: fixed;
        z-index: 33;
        left: 0;
        top: 50px;
    }
    .main-content {
        width: 95%;
    }
    .test__header-contorls-exit,
    .test__header-controls  {
        position: static;
        line-height: 48px;
    }
    .popup {
        width: 90%;
    }
}